@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}

@font-face {
  font-family: "Contour";
  src: url("/fonts/ContourW00-Regular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
/* ANTONIA CURSOR */

@keyframes sparkle-fade {
  0% {
    opacity: 0;
    transform: translate(-50%, -50%) scale(0.35) rotate(0deg);
    filter: blur(0px);
  }

  20% {
    opacity: 1;
    transform: translate(-50%, -50%) scale(1) rotate(20deg);
    filter: blur(0px);
  }

  100% {
    opacity: 0;
    transform: translate(-50%, -50%) translateY(-18px) scale(0.45) rotate(65deg);
    filter: blur(0.4px);
  }
}

.animate-sparkle-fade {
  animation-name: sparkle-fade;
  animation-timing-function: ease-out;
  animation-fill-mode: forwards;
}

@keyframes rainbowShift {
  0% {
    background-position: 0% 50%;
  }
  100% {
    background-position: 200% 50%;
  }
}

.stars {
  width: 100%;
  height: 100%;
  background-image:
    radial-gradient(2px 2px at 20% 30%, rgba(255,255,255,1), transparent),
    radial-gradient(1.5px 1.5px at 70% 60%, rgba(210,230,255,0.9), transparent),
    radial-gradient(2px 2px at 40% 80%, rgba(255,255,255,1), transparent),
    radial-gradient(1.5px 1.5px at 90% 20%, rgba(220,240,255,0.8), transparent),
    radial-gradient(2px 2px at 60% 10%, rgba(255,255,255,1), transparent),
    radial-gradient(1px 1px at 15% 75%, rgba(255,255,255,0.9), transparent),
    radial-gradient(1.5px 1.5px at 82% 42%, rgba(210,230,255,0.9), transparent),
    radial-gradient(1px 1px at 10% 20%, rgba(255,255,255,0.8), transparent),
    radial-gradient(1.5px 1.5px at 55% 35%, rgba(220,240,255,0.9), transparent);

  background-repeat: repeat;
  background-size: 400px 400px;

  opacity: 0.75;

  filter: drop-shadow(0 0 6px rgba(255,255,255,0.5));

  animation: starDrift 60s linear infinite;
}

.noise {
  width: 100%;
  height: 100%;
  background-image: url("https://grainy-gradients.vercel.app/noise.svg");
  background-size: cover;
}

@keyframes starDrift {
  from {
    transform: translateY(0);
  }

  to {
    transform: translateY(-220px);
  }
}